Source: fwupd-hybris
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/fwupd-hybris
Vcs-Git: https://github.com/furilabs/fwupd-hybris.git

Package: fwupd-hybris
Architecture: any
Depends: ${misc:Depends},
         python3-dbus-next,
         python3,
         python3-psutil,
         libgbinder-tools,
         pci.ids,
         usb.ids
Description: daemon that overrides fwupd to work with hybris devices
